//Colors
$nav-bg: rgba(255, 255, 255, 0.4);
$fixed-nav-bg: #222222;
$fixed-nav-border: #e9e9e9;

//Breakpoints
$breakpoint-middle-large: 960px;
$breakpoint-middle-small: 540px;


.navigation {
    width: 100%;
    height: 5em;
    background: $nav-bg;
    position: fixed;
    transition: 0.35s;
    z-index: 1000;
}

.active-fixed-nav {
    border-bottom: 2px solid $fixed-nav-border;
    background: $fixed-nav-bg;
    position: fixed;
}

//Breakpoint iPad to Middle-Small

@media screen and (max-width: $breakpoint-middle-large) {
    .navigation {
        background: $fixed-nav-bg;
        border-bottom: none;
    }
}

//Breakpoint Middle-Small 
@media screen and (max-width: $breakpoint-middle-small) {
    .navigation {
        height: 3.5em;
    }
}