//Colors
$footer-border: #808080;

//Breakpoints
$breakpoint-middle-small: 619px;

.footer-menu-container {
    border-right: 1px solid $footer-border;
    position: relative;

    .footer-menu {
        list-style-type: none;
        text-align: center;

    }
}

//Breakpoint-iPad-to-phone


@media screen and (max-width: $breakpoint-middle-small) {
    .footer-menu-container {
        border-right: none;
    }
}