//Breakpoints
$breakpoint-iPad-less: 767px;
$breakpoint-phone: 414px;

.footer-logo {
    text-align: center;
    padding: 1rem 0;

    img {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (max-width: $breakpoint-iPad-less) {
    .footer-logo {
        img {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}

@media screen and (max-width: $breakpoint-phone) {
    .footer-logo {
        img {
            width: 3rem;
            height: 3rem;
        }
    }
}