.technologies-info {
    margin-top: 4em;

    .skill-techniques {
        padding: 2em 1em;
        list-style-type: circle;

        li {
            font-size: 1.2rem;
            line-height: 1.65em;
            margin-bottom: 3px;
            color: #8a8a8a;

        }
    }
}