//Breakpoints
$breakpoint-middle-large: 960px;
$breakpoint-middle-small: 540px;

.section-title {
    text-align: center;
    font-size: 2.5rem;
    padding: 0 0 1.5em;
    letter-spacing: 1px;
}

//Breakpoint Middle-Large

@media screen and (max-width: $breakpoint-middle-large) {
    .section-title {
        font-size: 2.3rem;
    }
}

//Breakpoint Middle-Small

@media screen and (max-width: $breakpoint-middle-small) {
    .section-title {
        font-size: 2rem;
    }
}