//Colors

$titles-color: #2f2f2f;
$text-color: #515151;

//Breakpoints 

$breakpoint-middle-middle: 636px;
$breakpoint-middle-small: 540px;

.project-section {
    width: 100%;
    height: auto;
    text-align: left;
    color: $titles-color;
    font-family: 'Russo One', sans-serif;

    .project-container {
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
        padding: 7em 0 3em;

        h1 {
            font-size: 2.2rem;
            font-family: 'Anton', sans-serif;
        }

        h2 {
            font-size: 1.8rem;
            border-bottom: 1px solid $titles-color;
            display: inline-block;
            padding-bottom: 0.3em;
        }

        h3 {
            font-size: 1.1rem;
            margin-top: 0.5em;
        }

        p,
        li {
            color: $text-color;
            font-size: 1.2rem;
            line-height: 1.45em;
        }
    }
}

//Breakpoint iPad-Pro

//Breakpoint Middle-Middle

@media screen and (max-width: $breakpoint-middle-middle) {
    .project-section {
        .project-container {

            h1 {
                font-size: 1.7rem;
            }

            h2 {
                font-size: 1.4rem;
            }

            h3 {
                font-size: 1rem;
            }

            p,
            li {
                font-size: 0.8rem;
                line-height: 1.15;
            }
        }
    }
}

//Breakpoint Middle-Small

@media screen and (max-width: $breakpoint-middle-small) {
    .project-section {
        .project-container {
            padding: 5em 0 2em;
        }
    }
}