//Breakpoints

$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

.container-web-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


//Breakpoint iPad to Middle-Small

@media screen and (min-width: $breakpoint-middle-small) and (max-width: 767px) {
    .container-web-skills {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }
}

//Breakpoint Middle-Small to Phone

@media screen and (min-width: 415px) and (max-width: 539px) {
    .container-web-skills {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
}

//Breakpoint Phone

@media screen and (max-width: $breakpoint-phone) {
    .container-web-skills {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
}