//Breakpoints
$breakpoint-browser: 1280px;
$breakpoint-middle-large: 960px;
$breakpoint-iPad: 768px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

#personal-skills {
    width: 100%;
    padding: 5em 0;

    .personal-skills-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
}

//Breakpoint iPad-Pro

@media screen and (max-width: $breakpoint-browser) {
    #persnal-skills {
        padding: 4em 0;

        .personal-skills-container {
            grid-gap: 10px;
        }
    }
}

//Breakpoint Middle-Large to Middle-Small

@media screen and (min-width: $breakpoint-middle-small) and (max-width: $breakpoint-middle-large) {
    #personal-skills {
        padding: 3em 0;

        .personal-skills-container {
            grid-gap: 10px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

//Breakpoint Middle-Small to Phone

@media screen and (min-width: 415px) and (max-width: 539px) {
    #personal-skills {
        padding: 3em 0;

        .personal-skills-container {
            grid-gap: 10px;
            grid-template-columns: repeat(1, 1fr);
        }

    }
}

@media screen and (max-width: $breakpoint-phone) {
    #personal-skills {
        padding: 3em 0;

        .personal-skills-container {
            grid-gap: 10px;
            grid-template-columns: repeat(1, 1fr);
        }

    }
}