//Colors

$link-social-color: #102a41;
$background-social: #fff;


@mixin hover-social() {
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #0aabc5 50%,
            #1e629e);
    background-position: 0 0;
}

//Breakpoints
$breakpoint-iPad: 767px;
$breakpoint-phone: 414px;

.social-list {
    display: inline-block;
    margin-right: 10px;

    .social-link {
        display: block;
        border-radius: 50%;
        font-size: 1.2rem;
        width: 1.8em;
        height: 1.8em;
        background-color: $background-social;
        z-index: 1;
        background-position: 100% 0;
        background-size: 200% 100%;
        transition: all 0.25s ease-in;
        color: $link-social-color;

        &:hover {
            @include hover-social();
            color: $background-social;
        }

        i {
            line-height: 1.8em;
            display: block;

        }
    }
}


// Breakpoint iPad to Psshone

@media screen and (min-width: 415px) and (max-width: $breakpoint-iPad) {
    .social-list {

        .social-link {
            font-size: 1.2rem;
            width: 1.7em;
            height: 1.7em;

            i {
                line-height: 1.7em;
            }
        }
    }
}


// Breakpoint Phone

@media screen and (max-width: $breakpoint-phone) {

    .social-list {
        margin-right: 10px;

        .social-link {
            font-size: 1rem;
            width: 1.8em;
            height: 1.8em;

            i {
                line-height: 1.8em;
            }
        }
    }

}