//Colors
$text-color: rgb(165, 165, 165);
$hover-text-color: #fff;
$bg-personal-skill-card: linear-gradient(0deg, #1c4366, #040320, #102a41);
$half-bg-personal-skill-card: rgba(255, 255, 255, 0.08);
$personal-skill-shadow: 0 15px 35px rgba(43, 43, 43, 0.8);
$bg-personal-skill-percent: #102a41;
$circle-outer-color: $text-color;

//Breakpoints
$breakpoint-browser: 1280px;
$breakpoint-middle-large: 960px;
$breakpoint-iPad: 768px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

//Mixin Personal Progress Skills

@function calc-percent($size) {
    @return(440 - (440 * $size) / 100);
}

@mixin progress-personal-skills($progress-size) {
    animation: progress-personal-skill 1s ease-in-out forwards;
    stroke: $hover-text-color;
    stroke-dashoffset: calc-percent($progress-size);
}


.personal-skill-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    transition: 0.5s;
    background: $bg-personal-skill-card;
    font-family: 'Oswald', sans-serif;
    color: $text-color;
    border-radius: 6px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: $half-bg-personal-skill-card;

    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: $personal-skill-shadow;

        .personal-skill-box {
            .personal-skill-percent {
                .svg {
                    .circle-outer {
                        stroke: $hover-text-color;
                    }
                }

                .circle-progress-responsible,
                .circle-progress-team-player,
                .circle-progress-organized,
                .circle-progress-fast-learner {
                    @include progress-personal-skills (100);
                }

                .personal-skill-value {
                    h2 {
                        color: $hover-text-color;
                        font-size: 2.1rem;
                    }
                }
            }

            .personal-skill-name {
                color: $hover-text-color;
            }
        }
    }

    .personal-skill-box {
        .personal-skill-percent {
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: inset 0 0 50px #49c5f7;
            background: $bg-personal-skill-percent;
            z-index: 2;

            svg {
                position: relative;
                width: 150px;
                height: 150px;
                z-index: 100;

                circle {
                    width: 100%;
                    height: 100%;
                    fill: none;
                    stroke-width: 10;
                    stroke-linecap: round;
                    transform: translate(5px, 5px);
                    transition: 0.5s;
                }

                .circle-outer {
                    stroke: $circle-outer-color;
                }

                .circle-progress {
                    stroke-dashoffset: 440;
                    stroke-dasharray: 440;
                }
            }

            .personal-skill-value {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                h2 {
                    font-size: 1.5rem;
                    transition: 0.5s;
                    font-weight: 500;

                    span {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .personal-skill-name {
            position: relative;
            margin-top: 1.5em;
            font-size: 1.4rem;
            transition: 0.5s;
            font-weight: 700;
            text-align: center;
        }
    }
}

//Animation

@keyframes progress-personal-skill {
    from {
        stroke-dashoffset: 440;
    }
}

//Responsive Design

//Breakpoint Browser to Middle-Large

@media screen and (min-width: $breakpoint-middle-large) and (max-width: $breakpoint-browser) {
    .personal-skill-card {
        width: 200px;
        height: 280px;
        color: $hover-text-color;
        transform: translateY(-10px);
        box-shadow: $personal-skill-shadow;

        .personal-skill-box {
            .personal-skill-percent {
                svg {
                    .circle-outer {
                        stroke: $hover-text-color;
                    }

                    .circle-progress-responsible,
                    .circle-progress-team-player,
                    .circle-progress-reliable,
                    .circle-progress-fast-learner {
                        stroke: $hover-text-color;
                        stroke-dashoffset: calc(440 - (440 * 100) / 100);
                    }
                }

                .personal-skill-value {
                    h2 {
                        font-size: 2.1rem;
                    }
                }
            }
        }
    }
}


//Breakpoint Middle-Large to middle-small

@media screen and (min-width: $breakpoint-middle-small) and (max-width: 959px) {
    .personal-skill-card {
        width: 220px;
        height: 280px;
        color: $hover-text-color;
        transform: translateY(-10px);
        box-shadow: $personal-skill-shadow;

        .personal-skill-box {
            .personal-skill-percent {
                svg {
                    .circle-outer {
                        stroke: $hover-text-color;
                    }

                    .circle-progress-responsible,
                    .circle-progress-team-player,
                    .circle-progress-reliable,
                    .circle-progress-fast-learner {
                        stroke: $hover-text-color;
                        stroke-dashoffset: calc(440 - (440 * 100) / 100);
                    }

                }

                .personal-skill-value {
                    h2 {
                        font-size: 2.1rem;
                    }
                }
            }
        }
    }
}

//Breakpoint  Miiddle-small to Phone

@media screen and (min-width: 415px) and (max-width: 539px) {
    .personal-skill-card {
        width: 220px;
        height: 280px;
        color: $hover-text-color;
        transform: translateY(-10px);
        box-shadow: $personal-skill-shadow;

        .personal-skill-box {
            .personal-skill-percent {
                svg {
                    .circle-outer {
                        stroke: $hover-text-color;
                    }

                    .circle-progress-responsible,
                    .circle-progress-team-player,
                    .circle-progress-reliable,
                    .circle-progress-fast-learner {
                        stroke: $hover-text-color;
                        stroke-dashoffset: calc(440 - (440 * 100) / 100);
                    }
                }

                .personal-skill-value {
                    h2 {
                        font-size: 2.1rem;
                    }
                }
            }
        }
    }
}

//Breakpoint Phone

@media screen and (max-width: $breakpoint-phone) {
    .personal-skill-card {
        width: 200px;
        height: 280px;
        color: $hover-text-color;
        transform: translateY(-10px);
        box-shadow: $personal-skill-shadow;

        .personal-skill-box {
            .personal-skill-percent {
                svg {
                    .circle-outer {
                        stroke: $hover-text-color;
                    }

                    .circle-progress-responsible,
                    .circle-progress-team-player,
                    .circle-progress-reliable,
                    .circle-progress-fast-learner {
                        stroke: $hover-text-color;
                        stroke-dashoffset: calc(440 - (440 * 100) / 100);
                    }
                }

                .personal-skill-value {
                    h2 {
                        font-size: 2.1rem;
                    }
                }
            }
        }
    }
}