//Colors
$titles-color: #2f2f2f;
$text-color: #515151;

//Breakpoints 
$breakpoint-middle-small: 636px;

.project-section {
    width: 100%;
    height: auto;
    text-align: left;
    color: $titles-color;
    font-family: 'Russo One', sans-serif;


    h1 {
        font-size: 2.2rem;
        font-family: 'Anton', sans-serif;
    }

    h2 {
        font-size: 1.8rem;
        border-bottom: 1px solid $titles-color;
        display: inline-block;
        padding-bottom: 0.3em;
    }

    h3 {
        font-size: 1.1rem;
        margin-top: 0.5em;
    }

    p,
    li {
        color: $text-color;
        font-size: 1.2rem;
        line-height: 1.45em;
    }

    li {
        font-weight: 500;
    }
}

//Breakpoint Middle-Small

@media screen and (max-width: $breakpoint-middle-small) {
    .project-section {
        h1 {
            font-size: 1.7rem;
        }

        h2 {
            font-size: 1.4rem;
        }

        h3 {
            font-size: 1rem;
        }

        p,
        li {
            font-size: 1rem;
            line-height: 1.15;
        }
    }
}