$border-color: #0aabc5;
$text-color: #262626;
$breakpoint-iPad-Pro: 1024px;
$breakpoint-iPad: 767px;
$breakpoint-iPad-to-phone: 530px;
$breakpoint-phone: 414px;

#section-video {
    margin: 8em 0;

    .video-info-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .video-content {
            position: relative;
            top: 25%;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            color: $text-color;

            .video-title {
                display: inline-block;
                font-size: 2.5rem;
                border-bottom: 2px solid $border-color;
                letter-spacing: 1px;
            }

            .video-info {
                text-align: justify;
                font-family: 'Teko', sans-serif;
                font-size: 1.32rem;
                padding: 0.8em 0 0;
            }
        }

        .video-container {
            position: relative;

            .laptop-container {
                width: 700px;
                height: 500px;

                .laptop {
                    width: 100%;
                }

                .typing {
                    display: none;
                }
            }

            #video {
                position: absolute;
                width: 530px;
                left: 84px;
                bottom: 144px;
            }
        }
    }
}


//Breakpoint-iPad-Pro to Breakpoint-iPad

@media screen and (min-width: $breakpoint-iPad) and (max-width: $breakpoint-iPad-Pro) {
    #section-video {

        margin: 5em 0;

        .video-info-container {

            .video-content {
                position: relative;
                top: 15%;
                text-align: center;
                font-family: 'Oswald', sans-serif;
                color: $text-color;

                .video-title {
                    font-size: 2rem;

                }

                .video-info {
                    font-size: 1.32rem;
                    padding: 0.6em 1.5em;
                }
            }

            .video-container {

                .laptop-container {
                    width: 400px;
                    height: 300px;
                    margin: 0 auto;

                    .laptop {
                        display: none;
                    }

                    .typing {
                        display: block;
                        width: 100%;
                    }
                }

                #video {
                    display: none;
                }
            }
        }
    }

}


//Breakpoint-iPad to Breakpoint-phone

@media screen and (min-width: $breakpoint-phone) and (max-width: $breakpoint-iPad) {
    #section-video {
        margin: 3em 0;

        .video-info-container {

            .video-content {
                top: 0;
                text-align: center;

                .video-title {
                    font-size: 1.5rem;

                }

                .video-info {

                    font-size: 1.02rem;
                    padding: 1em;
                }
            }

            .video-container {

                .laptop-container {
                    margin: 0 auto;
                    width: 250px;
                    height: 180px;

                    .laptop {
                        display: none;
                    }

                    .typing {
                        display: block;
                        width: 100%;
                    }
                }

                #video {
                    display: none;
                }
            }
        }
    }

}


//Breakpoint-iPad-to-Phone

@media screen and (max-width: $breakpoint-iPad-to-phone) {

    #section-video {


        .video-info-container {
            grid-template-columns: repeat(1, 1fr);

            .video-content {
                top: 0;
                text-align: center;

                .video-title {
                    font-size: 1.5rem;

                }

                .video-info {

                    font-size: 1.02rem;
                    padding: 1em 5em;
                }
            }
        }
    }

}

//Breakpoint-phone

@media screen and (max-width: $breakpoint-phone) {
    #section-video {
        margin: 2em 0;

        .video-info-container {
            grid-template-columns: repeat(1, 1fr);

            .video-content {
                top: 0;

                .video-title {
                    font-size: 1.6rem;
                }

                .video-info {
                    font-size: 1.2rem;
                    padding: 0.8em;
                    text-align: center;
                }
            }

            .video-container {
                .laptop-container {
                    width: 300px;
                    height: 200px;
                    margin: 0 auto;

                    .laptop {
                        display: none;
                    }

                    .typing {
                        display: block;
                        width: 100%;
                    }

                }

                #video {
                    display: none;
                }
            }
        }
    }

}