#section-video {
  margin: 8em 0;
}

#section-video .video-info-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#section-video .video-info-container .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-video .video-info-container .info-container .video-content {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #262626;
}

#section-video .video-info-container .info-container .video-content .video-title {
  display: inline-block;
  font-size: 2.5rem;
  border-bottom: 2px solid #0aabc5;
  letter-spacing: 1px;
}

#section-video .video-info-container .info-container .video-content .video-info {
  text-align: justify;
  font-family: 'Teko', sans-serif;
  font-size: 1.32rem;
  padding: 0.8em 0 0;
}

#section-video .video-info-container .video-container {
  position: relative;
}

#section-video .video-info-container .video-container .laptop-container {
  width: 700px;
}

#section-video .video-info-container .video-container .laptop-container .laptop {
  width: 100%;
}

#section-video .video-info-container .video-container .laptop-container .typing {
  display: none;
}

#section-video .video-info-container .video-container #video {
  position: absolute;
  width: 530px;
  left: 84px;
  bottom: 80px;
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  #section-video {
    margin: 5em 0;
  }
  #section-video .video-info-container .info-container .video-content {
    padding: 0 1.5em;
  }
  #section-video .video-info-container .info-container .video-content .video-title {
    font-size: 2.2rem;
  }
  #section-video .video-info-container .video-container .laptop-container {
    width: 500px;
    margin: 0 auto;
  }
  #section-video .video-info-container .video-container .laptop-container .laptop {
    display: none;
  }
  #section-video .video-info-container .video-container .laptop-container .typing {
    display: block;
    width: 100%;
  }
  #section-video .video-info-container .video-container #video {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  #section-video {
    margin: 5em 0;
  }
  #section-video .video-info-container .info-container .video-content {
    padding: 0 1.5em;
  }
  #section-video .video-info-container .info-container .video-content .video-title {
    font-size: 2rem;
  }
  #section-video .video-info-container .video-container .laptop-container {
    width: 350px;
    margin: 0 auto;
  }
  #section-video .video-info-container .video-container .laptop-container .laptop {
    display: none;
  }
  #section-video .video-info-container .video-container .laptop-container .typing {
    display: block;
    width: 100%;
  }
  #section-video .video-info-container .video-container #video {
    display: none;
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  #section-video {
    margin: 3em 0;
  }
  #section-video .video-info-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #section-video .video-info-container .info-container .video-content {
    padding: 0 4.5em 1em;
  }
  #section-video .video-info-container .info-container .video-content .video-title {
    font-size: 2.2rem;
  }
  #section-video .video-info-container .info-container .video-content .video-info {
    text-align: center;
  }
  #section-video .video-info-container .video-container .laptop-container {
    width: 500px;
    margin: 0 auto;
  }
  #section-video .video-info-container .video-container .laptop-container .laptop {
    display: none;
  }
  #section-video .video-info-container .video-container .laptop-container .typing {
    display: block;
    width: 100%;
  }
  #section-video .video-info-container .video-container #video {
    display: none;
  }
}

@media screen and (min-width: 415px) and (max-width: 539px) {
  #section-video {
    margin: 3em 0;
  }
  #section-video .video-info-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #section-video .video-info-container .info-container .video-content {
    padding: 0 3.5em 1em;
  }
  #section-video .video-info-container .info-container .video-content .video-title {
    font-size: 1.9rem;
  }
  #section-video .video-info-container .info-container .video-content .video-info {
    text-align: center;
  }
  #section-video .video-info-container .video-container .laptop-container {
    width: 350px;
    margin: 0 auto;
  }
  #section-video .video-info-container .video-container .laptop-container .laptop {
    display: none;
  }
  #section-video .video-info-container .video-container .laptop-container .typing {
    display: block;
    width: 100%;
  }
  #section-video .video-info-container .video-container #video {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  #section-video {
    margin: 3em 0;
  }
  #section-video .video-info-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #section-video .video-info-container .info-container .video-content {
    padding: 0 1.5em 1em;
  }
  #section-video .video-info-container .info-container .video-content .video-title {
    font-size: 1.8rem;
  }
  #section-video .video-info-container .info-container .video-content .video-info {
    text-align: center;
    font-size: 1.1rem;
  }
  #section-video .video-info-container .video-container .laptop-container {
    width: 300px;
    margin: 0 auto;
  }
  #section-video .video-info-container .video-container .laptop-container .laptop {
    display: none;
  }
  #section-video .video-info-container .video-container .laptop-container .typing {
    display: block;
    width: 100%;
  }
  #section-video .video-info-container .video-container #video {
    display: none;
  }
}
/*# sourceMappingURL=SectionVideo.css.map */