//Colors
$border-color: #0aabc5;
$text-color: #262626;

//Breakpoints
$breakpoint-browser: 1280px;
$breakpoint-middle-large: 960px;
$breakpoint-iPad: 768px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

#section-video {
    margin: 8em 0;

    .video-info-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .info-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .video-content {
                text-align: center;
                font-family: 'Oswald', sans-serif;
                color: $text-color;

                .video-title {
                    display: inline-block;
                    font-size: 2.5rem;
                    border-bottom: 2px solid $border-color;
                    letter-spacing: 1px;
                }

                .video-info {
                    text-align: justify;
                    font-family: 'Teko', sans-serif;
                    font-size: 1.32rem;
                    padding: 0.8em 0 0;
                }
            }
        }

        .video-container {
            position: relative;

            .laptop-container {
                width: 700px;

                .laptop {
                    width: 100%;
                }

                .typing {
                    display: none;
                }
            }

            #video {
                position: absolute;
                width: 530px;
                left: 84px;
                bottom: 80px;
            }
        }
    }
}

//Breakpoint Browser to Middle-Large

@media screen and (min-width: $breakpoint-middle-large) and (max-width: $breakpoint-browser) {
    #section-video {
        margin: 5em 0;

        .video-info-container {
            .info-container {
                .video-content {
                    padding: 0 1.5em;

                    .video-title {
                        font-size: 2.2rem;

                    }
                }
            }

            .video-container {

                .laptop-container {
                    width: 500px;
                    margin: 0 auto;

                    .laptop {
                        display: none;
                    }

                    .typing {
                        display: block;
                        width: 100%;
                    }
                }

                #video {
                    display: none;
                }
            }
        }
    }
}

//Breakpoint Middle-Large to iPad

@media screen and (min-width: $breakpoint-iPad) and (max-width: 959px) {
    #section-video {
        margin: 5em 0;

        .video-info-container {
            .info-container {
                .video-content {
                    padding: 0 1.5em;

                    .video-title {
                        font-size: 2rem;

                    }
                }
            }

            .video-container {

                .laptop-container {
                    width: 350px;
                    margin: 0 auto;

                    .laptop {
                        display: none;
                    }

                    .typing {
                        display: block;
                        width: 100%;
                    }
                }

                #video {
                    display: none;
                }
            }
        }
    }
}

//Breakpoint  iPad to Middle-Small

@media screen and (min-width: $breakpoint-middle-small) and (max-width: 767px) {
    #section-video {
        margin: 3em 0;

        .video-info-container {
            grid-template-columns: repeat(1, 1fr);

            .info-container {
                .video-content {
                    padding: 0 4.5em 1em;

                    .video-title {
                        font-size: 2.2rem;

                    }

                    .video-info {
                        text-align: center;
                    }
                }
            }

            .video-container {

                .laptop-container {
                    width: 500px;
                    margin: 0 auto;

                    .laptop {
                        display: none;
                    }

                    .typing {
                        display: block;
                        width: 100%;
                    }
                }

                #video {
                    display: none;
                }
            }
        }
    }
}

//Breakpoint Middle-Small to Phone

@media screen and (min-width: 415px) and (max-width: 539px) {
    #section-video {
        margin: 3em 0;

        .video-info-container {
            grid-template-columns: repeat(1, 1fr);

            .info-container {
                .video-content {
                    padding: 0 3.5em 1em;

                    .video-title {
                        font-size: 1.9rem;

                    }

                    .video-info {
                        text-align: center;
                    }
                }
            }

            .video-container {

                .laptop-container {
                    width: 350px;
                    margin: 0 auto;

                    .laptop {
                        display: none;
                    }

                    .typing {
                        display: block;
                        width: 100%;
                    }
                }

                #video {
                    display: none;
                }
            }
        }
    }
}

//Breakpoint Phone

@media screen and (max-width: $breakpoint-phone) {
    #section-video {
        margin: 3em 0;

        .video-info-container {
            grid-template-columns: repeat(1, 1fr);

            .info-container {
                .video-content {
                    padding: 0 1.5em 1em;

                    .video-title {
                        font-size: 1.8rem;

                    }

                    .video-info {
                        text-align: center;
                        font-size: 1.1rem;
                    }
                }
            }

            .video-container {

                .laptop-container {
                    width: 300px;
                    margin: 0 auto;

                    .laptop {
                        display: none;
                    }

                    .typing {
                        display: block;
                        width: 100%;
                    }
                }

                #video {
                    display: none;
                }
            }
        }
    }
}