//Colors
$footer-link-color: #808080;
$hover-link-color: #fff;

//Breakpoints

$breakpoint-iPad: 767px;
$breakpoint-middle-small: 620px;
$breakpoint-phone: 414px;

@mixin hover-footer-menu() {
    background: linear-gradient(0deg, #DCDCDC, #fff) bottom left no-repeat;
    background-size: 0 3px;
}


.footer-list {
    margin: 1rem 0 0;

    .footer-link {

        text-decoration: none;
        color: $footer-link-color;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.15rem;
        padding-bottom: 5px;
        transition: 0.3s;
        @include hover-footer-menu();

        &:hover {
            color: $hover-link-color;
            background-size: 100% 2px;
        }

    }
}


//Breakpoint iPad to Middle-Small
@media screen and (min-width:$breakpoint-middle-small) and (max-width:$breakpoint-iPad) {
    .footer-list {
        margin: 0.8em 0 0;

        .footer-link {
            font-size: 1rem;
        }
    }
}

//Breakpoint Middle-Small to Phone

@media screen and (min-width: 415px) and (max-width: 619px) {
    .footer-list {
        margin: 0 0.6em 0;
        display: inline-block;
    }

}


//Breakpoint Phone
@media screen and (max-width:$breakpoint-phone) {
    .footer-list {
        margin: 0 0.6em 0;
        display: inline-block;

        .footer-link {
            font-size: 0.9rem;
        }
    }
}