#section-about {
  width: 100%;
}

#section-about .about-section-container {
  padding: 5em 0;
  width: 1500px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

#section-about .about-section-container .about-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-about .about-section-container .about-info-container .info-container {
  color: #262626;
  font-family: 'Oswald', sans-serif;
  text-align: justify;
  font-size: 1.2rem;
  padding: 4em;
}

#section-about .about-section-container .about-info-container .info-container .about-title {
  font-size: 2.5rem;
  display: inline-block;
  border-bottom: 2px solid #0aabc5;
  letter-spacing: 1px;
  margin: 0 0 0.5em;
}

#section-about .about-section-container .about-image-container {
  position: relative;
}

#section-about .about-section-container .about-image-container .second-page,
#section-about .about-section-container .about-image-container .third-page {
  position: absolute;
  top: 0;
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  #section-about .about-section-container {
    padding: 3em 0;
    width: 1050px;
    max-width: 90%;
  }
  #section-about .about-section-container .about-info-container .info-container {
    font-size: 1rem;
    padding: 2em;
  }
  #section-about .about-section-container .about-info-container .info-container .about-title {
    font-size: 2em;
  }
  #section-about .about-section-container .about-image-container .first-page,
  #section-about .about-section-container .about-image-container .second-page,
  #section-about .about-section-container .about-image-container .third-page {
    width: 500px;
    height: 500px;
  }
  #section-about .about-section-container .about-image-container .first-page img,
  #section-about .about-section-container .about-image-container .second-page img,
  #section-about .about-section-container .about-image-container .third-page img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  #section-about .about-section-container {
    padding: 3em 0 0;
    width: 1050px;
    max-width: 90%;
  }
  #section-about .about-section-container .about-info-container .info-container {
    font-size: 0.8rem;
    padding: 2em;
  }
  #section-about .about-section-container .about-info-container .info-container .about-title {
    font-size: 2em;
  }
  #section-about .about-section-container .about-image-container .first-page,
  #section-about .about-section-container .about-image-container .second-page,
  #section-about .about-section-container .about-image-container .third-page {
    width: 350px;
    height: 350px;
  }
  #section-about .about-section-container .about-image-container .first-page img,
  #section-about .about-section-container .about-image-container .second-page img,
  #section-about .about-section-container .about-image-container .third-page img {
    width: 100%;
  }
}

@media screen and (min-width: 415px) and (max-width: 767px) {
  #section-about .about-section-container {
    padding: 3em 0 0;
    width: 1050px;
    max-width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #section-about .about-section-container .about-info-container .info-container {
    font-size: 0.8rem;
    padding: 1.5em 4em;
    text-align: center;
  }
  #section-about .about-section-container .about-info-container .info-container .about-title {
    font-size: 2em;
  }
  #section-about .about-section-container .about-image-container {
    margin: 0 auto;
  }
  #section-about .about-section-container .about-image-container .first-page,
  #section-about .about-section-container .about-image-container .second-page,
  #section-about .about-section-container .about-image-container .third-page {
    width: 380px;
    height: 380px;
  }
  #section-about .about-section-container .about-image-container .first-page img,
  #section-about .about-section-container .about-image-container .second-page img,
  #section-about .about-section-container .about-image-container .third-page img {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  #section-about .about-section-container {
    padding: 3em 0 0;
    width: 1050px;
    max-width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #section-about .about-section-container .about-info-container .info-container {
    font-size: 0.8rem;
    padding: 1.5em 2em;
    text-align: center;
  }
  #section-about .about-section-container .about-info-container .info-container .about-title {
    font-size: 2em;
  }
  #section-about .about-section-container .about-image-container {
    margin: 0 auto;
  }
  #section-about .about-section-container .about-image-container .first-page,
  #section-about .about-section-container .about-image-container .second-page,
  #section-about .about-section-container .about-image-container .third-page {
    width: 280px;
    height: 280px;
  }
  #section-about .about-section-container .about-image-container .first-page img,
  #section-about .about-section-container .about-image-container .second-page img,
  #section-about .about-section-container .about-image-container .third-page img {
    width: 100%;
  }
}
/*# sourceMappingURL=SectionAbout.css.map */