#section-about {
  width: 100%;
}

#section-about .about-section-container {
  padding: 5em 0 0;
}

#section-about .about-section-container .about-info-container {
  position: relative;
}

#section-about .about-section-container .about-info-container .profile-wrapper {
  max-width: 95%;
  margin: 0 auto;
}

#section-about .about-section-container .about-info-container .profile-background {
  width: 100%;
  height: 18em;
}

#section-about .about-section-container .about-info-container .profile-background .profile-photo {
  position: absolute;
  width: 170px;
  height: 165px;
  border-radius: 50%;
  top: 13em;
  border: 3px solid #fff;
}

#section-about .about-section-container .about-info-container .profile-container {
  margin-top: 6em;
}

#section-about .about-section-container .about-info-container .profile-container .profile-title {
  font-size: 2rem;
}

#section-about .about-section-container .about-info-container .profile-container .profile-sub-title {
  font-size: 0.95rem;
  font-weight: 600;
}

#section-about .about-section-container .about-info-container .profile-container .profile-location {
  font-size: 0.85rem;
}

#section-about .about-section-container .about-info-container .profile-container .profile-info-container .profile-info {
  padding: 1em 0 0;
  font-size: 1.01rem;
  text-align: left;
  letter-spacing: 0.03rem;
}

#section-about .about-section-container .about-info-container .profile-container .profile-info-container .profile-info:first-child {
  padding: 0;
}

@media screen and (max-width: 1280px) {
  #section-about .about-section-container {
    padding: 3em 0 0;
  }
  #section-about .about-section-container .about-info-container .info-container {
    padding: 3em;
  }
  #section-about .about-section-container .about-info-container .info-container .about-title {
    font-size: 2em;
  }
  #section-about .about-section-container .about-info-container .info-container .about-info {
    font-size: 1rem;
  }
  #section-about .about-section-container .about-info-container .info-container .resume-btn:hover {
    background: #119ed6;
  }
}

@media screen and (max-width: 960px) {
  #section-about .about-section-container {
    padding: 2.5em 0 0;
  }
  #section-about .about-section-container .about-info-container .profile-background .profile-photo {
    position: absolute;
    width: 140px;
    height: 135px;
    top: 13em;
  }
  #section-about .about-section-container .about-info-container .profile-container {
    margin-top: 3.2em;
  }
  #section-about .about-section-container .about-info-container .profile-container .profile-title {
    font-size: 1.8rem;
  }
  #section-about .about-section-container .about-info-container .profile-container .profile-sub-title {
    font-size: 0.9rem;
  }
  #section-about .about-section-container .about-info-container .profile-container .profile-location {
    font-size: 0.8rem;
  }
  #section-about .about-section-container .about-info-container .profile-container .profile-info-container .profile-info {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 767px) {
  #section-about .about-section-container .about-info-container .profile-background {
    height: 13em;
  }
  #section-about .about-section-container .about-info-container .profile-background .profile-photo {
    position: absolute;
    width: 100px;
    height: 95px;
    top: 10em;
  }
  #section-about .about-section-container .about-info-container .profile-container {
    margin-top: 3.2em;
  }
  #section-about .about-section-container .about-info-container .profile-container .profile-title {
    font-size: 1.4rem;
  }
  #section-about .about-section-container .about-info-container .profile-container .profile-sub-title {
    font-size: 0.75rem;
  }
  #section-about .about-section-container .about-info-container .profile-container .profile-location {
    font-size: 0.65rem;
    padding-bottom: 1em;
  }
  #section-about .about-section-container .about-info-container .profile-container .profile-info-container .profile-info {
    padding: 1em 0 0;
    font-size: 0.75rem;
    letter-spacing: 0.02rem;
  }
}

@media screen and (max-width: 540px) {
  #section-about .about-section-container .about-info-container .profile-container .profile-location {
    padding-bottom: 1em;
  }
}
/*# sourceMappingURL=SectionAbout.css.map */