//Breakpoints
$breakpoint-browser: 1280px;
$breakpoint-middle-large: 959px;
$breakpoint-iPad: 768px;
$breakpoint-phone: 414px;

#section-about {
    width: 100%;

    .about-section-container {
        padding: 5em 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
}

//Breakpoin Browser

@media screen and (max-width: $breakpoint-browser) {
    #section-about {
        .about-section-container {
            padding: 3em 0;
        }
    }
}


//Breakpoint Middle-Large to iPad

@media screen and (min-width: $breakpoint-iPad) and (max-width: $breakpoint-middle-large) {
    #section-about {
        .about-section-container {
            padding: 2em 0;
        }
    }
}

// //Breakpoint iPad

@media screen and (max-width: 767px) {
    #section-about {
        .about-section-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}


// //Breakpoint Phone

@media screen and (max-width: $breakpoint-phone) {
    #section-about {

        .about-section-container {
            padding: 1em 0;
        }
    }
}