//Colors
$main-link-color: #2e2d2d;
$fixed-main-link-color: #fff;
$main-link-hover-bg: $main-link-color;
$fixed-main-link-hover-bg: #0aabc5;
$active-main-link-color: $main-link-color;
$active-main-link-shadow: #3d3f3f;
$fixed-active-main-link-shadow: #9DDDE7;

//Breakpoints
$breakpoint-iPad-Pro: 1024px;
$breakpoint-iPad: 768px;
$breakpoint-phone: 414px;

.main-list {
    display: inline-block;

    .main-link {
        text-transform: uppercase;
        letter-spacing: 0.11rem;
        font-family: 'Anton', sans-serif;
        position: relative;
        width: 120px;
        height: 40px;
        display: block;
        text-align: center;
        line-height: 40px;
        transition: 0.5s;
        box-sizing: border-box;
        color: $main-link-color;

        .main-link-hover {
            position: absolute;
            width: 25%;
            height: 100%;
            background: $main-link-hover-bg;
            z-index: -1;
            transform-origin: top;
            transform: scaleY(0);
            transition: transform .5s;

            &:nth-child(1) {
                left: 0;
                transition-delay: 0s;
            }

            &:nth-child(2) {
                left: 25%;
                transition-delay: 0.15s;
            }

            &:nth-child(3) {
                left: 50%;
                transition-delay: 0.30s;
            }

            &:nth-child(4) {
                left: 75%;
                transition-delay: 0.45s;
            }
        }

        .fixed-main-link-hover {
            background: $fixed-main-link-hover-bg;
        }

        &:hover {
            color: $fixed-main-link-color;

            .main-link-hover {
                transform: scaleY(1);
                transform-origin: bottom;
            }
        }
    }

    .fixed-main-link-color {
        color: $fixed-main-link-color;
    }
}

.active-main-link {
    border: 1px solid $active-main-link-color;
    box-shadow: 3px 2px $active-main-link-shadow;
}

.fixed-active-main-link {
    border: 1px solid $fixed-main-link-hover-bg;
    box-shadow: 3px 2px $fixed-active-main-link-shadow;
}

//Breakpoint iPad-Pro
@media screen and (max-width: $breakpoint-iPad-Pro) {

    .main-list {

        .main-link {
            color: $main-link-color;

            .main-link-hover {
                display: none;
            }

            &:hover {
                color: $main-link-color;
            }

        }

        .fixed-main-link-color {
            color: $fixed-main-link-color;

            &:hover {
                color: $fixed-main-link-color;
            }
        }
    }
}

//Breakpoint iPad

@media screen and (max-width: $breakpoint-iPad) {

    .main-list {
        display: block;
        border-bottom: 1px solid $fixed-main-link-color;
        height: 80px;

        &:nth-child(1) {
            border-top: 1px solid $fixed-main-link-color;
        }

        .main-link {
            height: 100%;
            line-height: 80px;
            width: 100%;
            text-align: center;
            font-size: 1.3rem;
            color: $fixed-main-link-color;

            .main-link-hover {
                transform-origin: left;
                transform: scaleX(0);
                background: $fixed-main-link-hover-bg;

            }

            &:hover {
                color: $fixed-main-link-color;

                .main-link-hover {
                    transform: scaleX(1);
                    transform-origin: right;
                }
            }
        }
    }

    .active-main-link {
        background-color: $fixed-main-link-hover-bg;
        border: none;
        box-shadow: none;
    }
}

//Breakpoint Phone

@media screen and (max-width: $breakpoint-phone) {
    .main-list {
        display: block;
        height: 60px;
        border-bottom: 1px solid $fixed-main-link-color;

        &:nth-child(1) {
            border-top: 1px solid $fixed-main-link-color;
        }

        .main-link {

            height: 100%;
            line-height: 60px;
            width: 100%;
            text-align: center;
            font-size: 1rem;
            color: $fixed-main-link-color;

            &:hover {
                color: $fixed-main-link-color;
            }
        }
    }

    .active-main-link {
        background-color: $fixed-main-link-hover-bg;
        border: none;
        box-shadow: none;
    }
}