//Colors
$base-color-dark: #222222;
$base-color-white: #ffffff;

//Mixin

@mixin activeLinkStyles($border-color, $box-shadow) {
    border: 1px solid $border-color;
    box-shadow: 3px 2px $box-shadow;
}

// //Breakpoints
$breakpoint-iPad-Pro: 1024px;
$breakpoint-middle-large: 960px;

.main-list {
    display: inline-block;
    width: 120px;
    height: 30px;

    .main-link {
        text-transform: uppercase;
        letter-spacing: 0.11rem;
        font-weight: 800;
        font-size: 0.75rem;
        position: relative;
        display: block;
        text-align: center;
        line-height: 30px;
        transition: 0.5s;
        box-sizing: border-box;

        .hover-effect {
            position: absolute;
            width: 25%;
            height: 100%;
            background: $base-color-dark;
            z-index: -1;
            transform-origin: top;
            transform: scaleY(0);
            transition: transform 0.5s;

            &:nth-child(1) {
                left: 0;
                transition-delay: 0s;
            }

            &:nth-child(2) {
                left: 25%;
                transition-delay: 0.15s;
            }

            &:nth-child(3) {
                left: 50%;
                transition-delay: 0.3s;
            }

            &:nth-child(4) {
                left: 75%;
                transition-delay: 0.45s;
            }
        }

        &:hover {
            color: $base-color-white;

            .hover-effect {
                transform: scaleY(1);
                transform-origin: bottom;
            }
        }

        .fixed-hover-effect {
            background: $base-color-white;
        }
    }

    .fixed-main-link {
        color: $base-color-white;

        &:hover {
            color: $base-color-dark;
        }
    }

    .active-main-link {
        @include activeLinkStyles($base-color-dark, rgba(34, 34, 34, 0.5));
    }

    .fixed-active-main-link {
        @include activeLinkStyles($base-color-white, rgba(255, 255, 255, 0.5));
    }
}

//Breakpoint iPad-Pro
@media screen and (max-width: $breakpoint-iPad-Pro) {
    .main-list {
        .main-link {
            .hover-effect {
                display: none;
            }

            &:hover {
                color: $base-color-dark;
            }
        }

        .fixed-main-link {
            color: $base-color-white;

            &:hover {
                color: $base-color-white;
            }
        }
    }
}

//Breakpoint Middle-Large

@media screen and (max-width: $breakpoint-middle-large) {
    .main-list {
        display: block;
        border-bottom: 1px solid $base-color-white;
        width: 100%;

        &:nth-child(1) {
            border-top: 1px solid $base-color-white;
        }

        .main-link {
            font-weight: 500;
            color: $base-color-white;

            &:hover {
                color: $base-color-white;
            }
        }

        .active-main-link {
            background: $base-color-white;
            border: none;
            box-shadow: none;
            color: $base-color-dark;

            &:hover {
                color: $base-color-dark;
            }
        }
    }
}