//Breakpoints
$breakpoint-iPad: 768px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

#section-certificates {
    padding: 3em 0;

    .certificates-container {
        max-width: 900px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
}

//Breakpoint-iPad to Middle-Small
@media screen and (min-width: $breakpoint-middle-small) and (max-width: 767px) {
    #section-certificates {
        padding: 2em 0;

        .certificates-container {
            max-width: 900px;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
    }
}

//Breakpoint-iPad to Middle-Small
@media screen and (min-width: 415px) and (max-width: 539px) {
    #section-certificates {
        padding: 2em 0;

        .certificates-container {
            max-width: 900px;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }
    }
}

//Breakpoint Phone
@media screen and (max-width: $breakpoint-phone) {
    #section-certificates {
        padding: 3em 0;

        .certificates-container {
            padding: 0 3em;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1em;
        }
    }
}