//Breakpoints
$breakpoint-browser: 1280px;

#portfolio-header {
    width: 100%;
    height: 100vh;
    background-image: url("../../../../assets/pages/portfolio/portfolio-header/background/portfolio-bg.jpg");
    background-attachment: fixed;
}

//Breakpoint Browser

@media screen and (max-width: $breakpoint-browser) {

    #portfolio-header {
        height: 80vh;

        .portfolio-header-title {
            top: 40%;
        }
    }
}