//Breakpoints
$breakpoint-iPad: 767px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

#portfolio-section {
    padding: 3em 0;

    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .working-projects {
        padding-bottom: 3em;
    }
}

//Breakpoint iPad to Phone

@media screen and (min-width: 415px) and (max-width: $breakpoint-iPad) {
    #portfolio-section {
        .portfolio-container {
            max-width: 90%;
            margin: 0 auto;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
        }
    }
}

//Breakpoint Phone

@media screen and (max-width: $breakpoint-phone) {
    #portfolio-section {
        .portfolio-container {
            max-width: 100%;
            margin: 0 auto;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
        }
    }
}