//Colors
$footer-link-color: #fff;
$hover-link-color: #808080;

//Breakpoints
$breakpoint-iPad-Pro: 1024px;
$breakpoint-iPad-less: 767px;
$breakpoint-middle-small-less: 539px;

.footer-list {
  margin: 0.5em 0 0;

  .footer-link {
    color: $footer-link-color;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    transition: 0.3s;

    &:hover {
      color: $hover-link-color;
    }
  }
}
//Breakpoint iPad-Pro
@media screen and (max-width: $breakpoint-iPad-Pro) {
  .footer-list {
    .footer-link {
      &:hover {
        color: $footer-link-color;
      }
    }
  }
}

//Breakpoint iPad-less
@media screen and (max-width: $breakpoint-iPad-less) {
  .footer-list {
    margin: 0.3em 0 0;

    .footer-link {
      font-size: 0.8rem;
    }
  }
}

//Breakpoint Middle-Small-Less
@media screen and (max-width: $breakpoint-middle-small-less) {
  .footer-list {
    margin: 0 0.4rem 0;
    display: inline-block;
  }
}
