//Breakpoints
$breakpoint-middle-large: 636px;
$breakpoint-middle-small: 540px;

.project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 0;

    .project-title {
        letter-spacing: 1px;
        line-height: 100px;
        text-align: right;
    }

    .project-logo {
        width: 100px;
        height: 100px;
        float: left;

        img {
            width: 100%;
        }
    }
}

//Breakpoint Middle-Large

@media screen and(max-width: $breakpoint-middle-large) {
    .project-header {
        .project-title {
            text-align: center;
            line-height: 70px;
        }

        .project-logo {
            width: 70px;
            height: 70px;
        }
    }
}

//Breakpoint Middle-SMall

@media screen and (max-width: $breakpoint-middle-small) {
    .project-header {
        grid-template-columns: repeat(1, 1fr);

        .project-logo {
            margin: 0 auto;
        }
    }
}