//Colors
$text-color: #fff;
$link-color: #808080;

//Breakpoints

$breakpoint-phone: 414px;

.footer-contact-container {

    .contact-info {
        padding: 1rem 0 0;
        color: $text-color;
        margin: 0 auto;
        width: 250px;
        font-family: 'Six Caps', sans-serif;
        line-height: 1.7em;

        .footer-title {
            font-size: 1.1rem;
        }

        .footer-contact-link {
            color: $link-color;
            transition: 0.3s;

            &:hover {
                color: $text-color;
            }
        }
    }

    .footer-social-container {
        padding: 0.7em 0;
    }
}



//Breakpoint Phone

@media screen and (max-width:$breakpoint-phone) {
    .footer-contact-container {

        .contact-info {
            padding: 0.8em;
            color: $text-color;
            margin: 0 auto;
            width: 250px;
            line-height: 1.1rem;
            font-size: 0.8rem;

            .footer-title {
                font-size: 1rem;
            }

        }

    }
}