//Breakpoints
$breakpoint-from-iPad-to-Phone: 767px;

#contact-header {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url("../../../../assets/pages/contact/contact-bg.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Breakpoint iPad to Phone

@media screen and (max-width: $breakpoint-from-iPad-to-Phone) {
    #contact-header {
        height: 80vh;
    }
}