//Breakpoints
$breakpoint-from-iPad-less: 767px;

#contact-header {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url("../../../../assets/pages/contact/contact-bg.jpg");
    background-attachment: fixed;
}

//Breakpoint iPad-Less

@media screen and (max-width: $breakpoint-from-iPad-less) {
    #contact-header {
        height: 80vh;
    }
}