//Colors
$button-color : #f2f4f4;
$button-background: #262626;

//Breakpoints
$breakpoint-browser: 1280px;
$breakpoint-middle-large: 960px;
$breakpoint-middle-small: 540px;

#home-header {
    background-image: url('../../../../assets/pages/home/home-header/3d.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 100vh;

    .home-btn {
        color: $button-color;
        text-transform: uppercase;
        width: 10em;
        height: 3.5em;
        line-height: 3.5em;
        text-align: center;
        transition: 0.5s;
        font-size: 1rem;
        overflow: hidden;

        &:hover {
            color: $button-background;
            background: $button-color;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $button-background;
            z-index: -1;
            transition: 0.5s;
        }

        &:hover:before {
            top: calc(100% - 2px);
        }

        &::after {
            content: "";
            position: absolute;
            top: calc(-100% + 2px);
            left: 100%;
            width: 100%;
            height: 100%;
            background: $button-background;
            z-index: -1;
            transition: 0.5s;
            box-sizing: border-box;
        }

        &:hover:after {
            left: 0;
            transition-delay: 0.5s;
        }

        span {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-left: 2px solid $button-background;
            border-right: 2px solid $button-background;
            box-sizing: border-box;
            transform: scaleY(0);
            transform-origin: top;
            transition: 0.5s;
        }

        &:hover span {
            transform: scaleY(1);
            transition-delay: 1s;
        }
    }

    .home-particle {
        width: 100%;
        height: 80vh;
        margin: 0 auto;
        display: block;
    }
}

// Breakpoint iPad-Pro

@media screen and (max-width: $breakpoint-browser) {
    #home-header {
        height: 80vh;

        .home-particle {
            display: none;
        }

        .home-btn {
            top: 40%;
        }
    }
}

// Breakpoint Middle-Large

@media screen and (max-width: $breakpoint-middle-large) {
    #home-header {
        .home-btn {
            width: 9em;
            height: 3.3em;
            line-height: 3.3em;
            font-size: 0.9rem;
        }
    }
}

// Breakpoint Middle-Small

@media screen and (max-width: $breakpoint-middle-small) {
    #home-header {
        .home-btn {
            width: 8em;
            height: 3em;
            line-height: 3em;
            font-size: 0.75rem;
        }
    }
}