//Breakpoints
$breakpoint-middle-small-less: 539px;

.footer-menu-container {
    position: relative;
    border-right: 1px solid #fff;

    .footer-menu {
        text-align: center;
    }
}

@media screen and (max-width: $breakpoint-middle-small-less) {
    .footer-menu-container {
        border-right: none;
    }
}