$text-color: #fff;
$breakpoint-iPad-Pro: 1024px;
$breakpoint-iPad: 768px;
$breakpoint-phone: 414px;

.section-title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    padding: 0 0 2em;
    color: $text-color;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
}

//Breakpoint-iPad-Pro

@media screen and (max-width: $breakpoint-iPad-Pro) {
    .section-title {
        padding: 0 0 1.5em;
    }
}


//Breakpoint-iPad

@media screen and (max-width: $breakpoint-iPad) {
    .section-title {
        font-size: 2.5rem;
        padding: 0 0 1.3em;
    }
}



//Breakpoint-phone

@media screen and (max-width: $breakpoint-phone) {
    .section-title {
        font-size: 2rem;
        padding: 0 0 1.5em;
    }
}