//Breakpoints
$breakpoint-middle-large: 960px;
$breakpoint-iPad: 768px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

.section-title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    padding: 0 0 1.5em;
    letter-spacing: 1px;
}


//Breakpoint iPad-Pro to Middle-Large

@media screen and (min-width: $breakpoint-middle-large) and (max-width: 1023px) {
    .section-title {
        font-size: 2.8rem;
    }
}

//Breakpoint Middle-Large to iPad

@media screen and (min-width: $breakpoint-iPad) and (max-width: 959px) {
    .section-title {
        font-size: 2.5rem;
        padding: 0 0 1.3em;
    }
}

//Breakpoint Middle-Large to iPad

@media screen and (min-width: 415px) and (max-width: 767px) {
    .section-title {
        font-size: 2.3rem;
        padding: 0 0 1.2em;
    }
}

//Breakpoint-phone

@media screen and (max-width: $breakpoint-phone) {
    .section-title {
        font-size: 1.8rem;
        padding: 0 0 1.5em;
    }
}