//Colors
$fixed-logo-color: #fff;

//Breakpoints
$breakpoint-middle-large: 960px;
$breakpoint-middle-small: 540px;

.logo-container {
    float: left;
    margin-top: 8px;

    .logo-link {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .logo-image {
            grid-column: auto;
            grid-row: auto;
            width: 4em;
            height: 4em;
            margin-left: 20px;

            img {
                width: 100%;
            }
        }

        .logo-name {
            grid-column: auto;
            grid-row: auto;

            .logo-name-container {
                margin: 12px 0 0 5px;

                h5 {
                    font-size: 0.85rem;
                    letter-spacing: 0.1rem;
                }

                p {
                    font-size: 0.7rem;
                }
            }
        }

        .fixed-logo {
            color: $fixed-logo-color;
        }
    }
}

//Breakpoint Middle-Large

@media screen and (max-width: $breakpoint-middle-large) {
    .logo-container {
        .logo-link {
            .logo-image {
                width: 3.5em;
                height: 3.5em;
                margin-left: 25px;

            }

            .logo-name {
                color: $fixed-logo-color;

                .logo-name-container {
                    margin: 8px 0 0 3px;
                }
            }
        }
    }
}

//Breakpoint Middle-Small

@media screen and (max-width: $breakpoint-middle-small) {
    .logo-container {
        margin-top: 4px;

        .logo-link {
            grid-template-columns: repeat(1, 1fr);

            .logo-image {
                width: 3.1em;
                height: 3.1em;
                margin-left: 0;
            }

            .logo-name {
                display: none;
            }
        }
    }
}