//Breakpoints 
$breakpoint-middle-small: 540px;

.slide-container {
    padding: 2em 0;
}

@media screen and (max-width: $breakpoint-middle-small) {
    .slide-container {
        padding: 1em 0;
    }
}