//Colors
$main-menu-bg: #222222;

//Breakpoints
$breakpoint-middle-large: 960px;
$breakpoint-middle-small: 540px;

.main-nav {
    float: right;
    line-height: 5em;

    .mobile-social {
        display: none;
    }
}

//Breakpoint Middle-Large

@media screen and (max-width: $breakpoint-middle-large) {
    .main-nav {
        width: 100%;
        height: 100%;
        position: fixed;
        left: -100%;
        top: 5em;
        z-index: 9999;
        background: $main-menu-bg;
        transition: 0.5s;

        .main-menu-container {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -30%);
            width: 100%;
        }

        .mobile-social {
            display: block;
        }
    }

    .show-nav {
        left: 0;
    }
}


//Breakpoint Middle-Small
@media screen and(max-width: $breakpoint-middle-small) {
    .main-nav {
        top: 3.5em;
    }
}