.main-nav {
  float: right;
  line-height: 5em;
}

.main-nav .main-menu-container .main-menu .main-list {
  display: inline-block;
  width: 120px;
  height: 30px;
}

.main-nav .main-menu-container .main-menu .main-list .main-link {
  text-transform: uppercase;
  letter-spacing: 0.11rem;
  font-weight: 800;
  font-size: 0.75rem;
  position: relative;
  display: block;
  text-align: center;
  line-height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-nav .main-menu-container .main-menu .main-list .main-link .hover-effect {
  position: absolute;
  width: 25%;
  height: 100%;
  background: #222222;
  z-index: -1;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.main-nav .main-menu-container .main-menu .main-list .main-link .hover-effect:nth-child(1) {
  left: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.main-nav .main-menu-container .main-menu .main-list .main-link .hover-effect:nth-child(2) {
  left: 25%;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.main-nav .main-menu-container .main-menu .main-list .main-link .hover-effect:nth-child(3) {
  left: 50%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.main-nav .main-menu-container .main-menu .main-list .main-link .hover-effect:nth-child(4) {
  left: 75%;
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.main-nav .main-menu-container .main-menu .main-list .main-link:hover {
  color: #ffffff;
}

.main-nav .main-menu-container .main-menu .main-list .main-link:hover .hover-effect {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.main-nav .main-menu-container .main-menu .main-list .main-link .fixed-hover-effect {
  background: #ffffff;
}

.main-nav .main-menu-container .main-menu .main-list .fixed-main-link {
  color: #ffffff;
}

.main-nav .main-menu-container .main-menu .main-list .fixed-main-link:hover {
  color: #222222;
}

.main-nav .main-menu-container .main-menu .main-list .active-main-link {
  border: 1px solid #222222;
  -webkit-box-shadow: 3px 2px rgba(34, 34, 34, 0.5);
          box-shadow: 3px 2px rgba(34, 34, 34, 0.5);
}

.main-nav .main-menu-container .main-menu .main-list .fixed-active-main-link {
  border: 1px solid #ffffff;
  -webkit-box-shadow: 3px 2px rgba(255, 255, 255, 0.5);
          box-shadow: 3px 2px rgba(255, 255, 255, 0.5);
}

.main-nav .main-menu-container .mobile-social {
  display: none;
}

@media screen and (max-width: 1024px) {
  .main-nav .main-menu-container .main-menu .main-list .main-link .hover-effect {
    display: none;
  }
  .main-nav .main-menu-container .main-menu .main-list .main-link:hover {
    color: #222222;
  }
  .main-nav .main-menu-container .main-menu .main-list .fixed-main-link {
    color: #ffffff;
  }
  .main-nav .main-menu-container .main-menu .main-list .fixed-main-link:hover {
    color: #ffffff;
  }
}

@media screen and (max-width: 960px) {
  .main-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 5em;
    z-index: 9999;
    background: #222222;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .main-nav .main-menu-container {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    width: 100%;
  }
  .main-nav .main-menu-container .main-menu .main-list {
    display: block;
    border-bottom: 1px solid #ffffff;
    width: 100%;
  }
  .main-nav .main-menu-container .main-menu .main-list:nth-child(1) {
    border-top: 1px solid #ffffff;
  }
  .main-nav .main-menu-container .main-menu .main-list .main-link {
    font-weight: 500;
    color: #ffffff;
  }
  .main-nav .main-menu-container .main-menu .main-list .main-link:hover {
    color: #ffffff;
  }
  .main-nav .main-menu-container .main-menu .main-list .active-main-link {
    background: #ffffff;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #222222;
  }
  .main-nav .main-menu-container .main-menu .main-list .active-main-link:hover {
    color: #222222;
  }
  .main-nav .main-menu-container .mobile-social {
    display: block;
  }
  .show-nav {
    left: 0;
  }
}

@media screen and (max-width: 540px) {
  .main-nav {
    top: 3.5em;
  }
}
/*# sourceMappingURL=Menu.css.map */