//Colors
$arrow-color: #000;

//Breakpoints
$breakpoint-browser: 1280px;
$breakpoint-middle-large: 960px;
$breakpoint-iPad: 768px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

.arrow {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        display: block;
        width: 20px;
        height: 20px;
        margin: - 10px;
        border-bottom: 1px solid $arrow-color;
        border-right: 1px solid $arrow-color;
        transform: rotate(45deg);
        animation: animate 2s infinite;

        &:nth-child(2) {
            animation-delay: -0.2s;
        }

        &:nth-child(3) {
            animation-delay: -0.4s;
        }


    }
}

//Animation

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

//Breakpoint Browser to Middle-Large

@media screen and (min-width: $breakpoint-middle-large) and (max-width: $breakpoint-browser) {
    .arrow {
        top: 50%;
    }
}


//Breakpoint Middle-Large to iPad

@media screen and (min-width: $breakpoint-iPad) and (max-width: 959px) {
    .arrow {
        top: 46%;
    }
}


//Breakpoint-iPad to Middle-Small

@media screen and (min-width: 415px) and (max-width: 767px) {

    .arrow {
        top: 50%;

        span {
            width: 18px;
            height: 18px;
            margin: -10px;

            &:nth-child(2) {
                animation-delay: -0.2s;
            }

            &:nth-child(3) {
                animation-delay: -0.4s;
            }


        }
    }

}

//Breakpoint Phone

@media screen and (max-width: $breakpoint-phone) {

    .arrow {
        top: 50%;

        span {
            width: 10px;
            height: 10px;
            margin: -10px;

            &:nth-child(2) {
                animation-delay: -0.2s;
            }

            &:nth-child(3) {
                animation-delay: -0.4s;
            }

        }
    }

}