//Colors

$bg-responsive-section: #fff;
$text-color: #262626;
$border-color: #42edfa;

//Breakpoints 

$breakpoint-browser: 1280px;
$breakpoint-middle-large: 960px;
$breakpoint-iPad: 768px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

.responsive-section {
    padding: 3em 0;
    background: $bg-responsive-section;

    .responsive-design-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .responsive-design-image {
            max-width: 600px;

            img {
                width: 100%;
            }
        }

        .responsive-design-info-container {
            position: relative;

            .responsive-design-info {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-family: 'Oswald', sans-serif;
                color: $text-color;

                .responsive-title {
                    display: inline-block;
                    font-size: 2.3rem;
                    border-bottom: 2px solid $border-color;
                    letter-spacing: 1px;
                }

                .responsive-info {
                    font-family: 'Teko', sans-serif;
                    font-size: 1.32rem;
                    padding: 0.8em 0 0;
                }
            }
        }
    }
}

//Breakpoint Browser to Middle-Large

@media screen and (min-width: $breakpoint-middle-large) and (max-width: $breakpoint-browser) {
    .responsive-section {
        .responsive-design-container {
            .responsive-design-info-container {
                .responsive-design-info {
                    .responsive-title {
                        font-size: 2.2rem;
                    }

                    .responsive-info {
                        font-size: 1.32rem;
                    }
                }
            }
        }
    }
}

//Breakpoint  Middle-Large to iPad

@media screen and (min-width: $breakpoint-iPad) and (max-width: 959px) {
    .responsive-section {
        .responsive-design-container {
            .responsive-design-info-container {
                .responsive-design-info {
                    .responsive-title {
                        font-size: 2.1rem;
                    }

                    .responsive-info {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

//Breakpoint  iPad  to Middle-Small

@media screen and (min-width: $breakpoint-middle-small) and (max-width: 767px) {
    .responsive-section {
        .responsive-design-container {
            grid-template-columns: repeat(1, 1fr);

            .responsive-design-info-container {
                height: 150px;

                .responsive-design-info {

                    .responsive-title {
                        font-size: 2rem;
                    }

                    .responsive-info {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}


//Breakpoint Middle-Small to Phone

@media screen and (min-width: $breakpoint-phone) and (max-width: 539px) {
    .responsive-section {
        .responsive-design-container {
            grid-template-columns: repeat(1, 1fr);

            .responsive-design-info-container {
                height: 150px;

                .responsive-design-info {

                    .responsive-title {
                        font-size: 1.9rem;
                    }

                    .responsive-info {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

//Breakpoint Phone

@media screen and (max-width: $breakpoint-phone) {
    .responsive-section {
        .responsive-design-container {
            grid-template-columns: repeat(1, 1fr);

            .responsive-design-info-container {
                height: 150px;

                .responsive-design-info {
                    .responsive-title {
                        font-size: 1.8rem;
                    }

                    .responsive-info {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}