//Colors
$form-border: #102a41;
$text-color: #000;
$bg-input: #fff;
$box-shadow-input: rgba(9, 100, 137, 0.6);
$btn-color: $bg-input;
$btn-bg: #119ed6;
$hover-btn: #096489;
$error-color: #ec0000;
$submit-color: #009100;

//Breakpoints
$breakpoint-from-iPad-to-Phone: 767px;

.contact-form {
    font-family: 'Oswald', sans-serif;

    .form {
        width: 100%;
        padding: 2em 2em 2em 0;
        height: auto;

        .contact-text-form {
            display: block;
            width: 100%;
            border: 1px solid $form-border;
            border-radius: 5px;
            padding: 1em 1.5em;
            color: $text-color;
            margin: 1em 0;
            background: $bg-input;
            outline: none;
            transition: 0.5s;

            &:focus {
                box-shadow: 0 0 10px 4px $box-shadow-input;
            }


        }

        .error {
            border: 1px solid $error-color;

            &:focus {
                box-shadow: 0 0 10px 4px rgba(256, 56, 56, 0.5);
            }
        }

        textarea {
            resize: none;
            height: 120px;
        }

        .contact-form-btn {
            cursor: pointer;
            transition: 0.5s;
            color: $btn-color;
            background: $btn-bg;
            padding: 0.5em 2em;
            border-radius: 10px;
            border: none;
            font-size: 0.85rem;
            transition: 0.5s;

            .sending-loader {
                width: 20px;
                height: 20px;
                float: left;
            }

            .sending {
                float: right;
                line-height: 20px;
            }

            &:hover {
                background: $hover-btn;
            }

        }

        .error-message {
            color: $error-color;
            font-size: 0.85rem;
            transition: 0.5s;
        }

    }

    .success {
        color: $submit-color;
        display: block;
        text-align: center;
        font-size: 1rem;
    }
}

//Breakpoint iPad to Phone

@media screen and (max-width: $breakpoint-from-iPad-to-Phone) {
    .contact-form {
        .form {
            padding: 1em;
            margin: 0 auto;
        }
    }
}