//Colors

$bg-skills-container: rgba(35, 36, 37, 0.6);

//Breakpoints
$breakpoint-browser: 1280px;
$breakpoint-iPad-Pro: 1024px;
$breakpoint-iPad: 768px;
$breakpoint-phone: 414px;

#section-professional-skills {
    padding: 5em 0;
    transition: 0.8s;
    background-image: url("../../../../../assets/pages/about/about-main/professional-skills/professional-skills-bg.jpg");
    background-attachment: fixed;

    .professional-skills-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 30px;
        transition: 1s;
        background-color: $bg-skills-container;
    }
}

//Breakpoint Browser to  iPad-Pro 

@media screen and (min-width: $breakpoint-iPad-Pro) and (max-width: $breakpoint-browser) {

    #section-professional-skills {
        padding: 4em 0;
    }
}

//Breakpoint-iPad

@media screen and (max-width: $breakpoint-iPad) {

    #section-professional-skills {
        padding: 3em 0;
    }
}

//Breakpoint-phone

@media screen and (max-width: $breakpoint-phone) {

    #section-professional-skills {
        padding: 3.5em 0;

        .professional-skills-container {
            padding: 20px;

        }
    }
}