//Colors
$bg-color: #fff;
$title-color: #262626;
$discipline-color: #565656;
$info-color: #706969;
$date-color: #102a41;
$btn-color: $bg-color;
$bg-color-btn: $date-color;
$hover-bg-color-btn: #0aabc5;

//Breakpoints
$breakpoint-browser: 1280px;
$breakpoint-iPad-Pro: 1024px;
$breakpoint-middle-large: 960px;
$breakpoint-iPad: 768px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;

.certifcicate-box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12rem 12rem 3rem;
    grid-template-areas: "image""text""btn";
    background-color: $bg-color;
    border-radius: 18px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: 'Teko', sans-serif;
    transition: 0.5s ease;

    &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    }

    .certificate-image {
        grid-area: image;
        border-radius: 18px 18px 0 0;
    }

    .certificate-info {
        grid-area: text;
        margin: 1em;

        .date {
            color: $date-color;
            font-weight: 500;
            font-size: 1.1rem;
        }

        h2 {
            font-family: 'Oswald', sans-serif;
        }

        h3 {
            color: $discipline-color;
            padding: 0.2em;
        }

        p {
            color: $info-color;
        }
    }



    .certificate-btn {
        grid-area: btn;
        background-color: $bg-color-btn;
        color: $btn-color;
        font-size: 1.2rem;
        line-height: 3em;
        transition: 0.5s;
        border-radius: 0 0 18px 18px;

        &:hover {
            background-color: $hover-bg-color-btn;
        }

    }

}

//Breakpoint-iPad-Pro to Breakpoint-iPad

@media screen and (min-width: $breakpoint-iPad) and (max-width: $breakpoint-middle-large) {

    .certifcicate-box {
        grid-template-columns: 200px;
        margin: 0 auto;
        grid-template-rows: 9em 9em 2em;

        &:hover {
            transform: scale(1.02);
        }

        .certificate-info {
            grid-area: text;
            margin: 0.5em;

            .date {

                font-size: 0.7rem;
            }

            h2 {
                font-size: 1.2rem;
            }

            h3 {
                padding: 0;
                font-size: 1rem;
            }

            p {
                font-size: 0.7rem;
            }
        }

        .certificate-btn {
            font-size: 1.1rem;
            line-height: 2em;

        }

    }

}

//Breakpoint iPad to Phone

@media screen and (min-width: 415px) and (max-width: 767px) {
    .certifcicate-box {
        grid-template-columns: 200px;
        margin: 0 auto;
        grid-template-rows: 9em 9em 2em;

        .certificate-info {
            grid-area: text;
            margin: 0 1em;

            .date {
                font-size: 0.7rem;
            }

            h2 {
                font-size: 1.2rem;
            }

            h3 {
                font-size: 0.9rem;
            }

            p {
                font-size: 0.7rem;
            }

        }

        .certificate-btn {
            font-size: 1rem;
            line-height: 2em;
        }

    }
}

//Breakpoint-phone

@media screen and (max-width: $breakpoint-phone) {
    .certifcicate-box {
        grid-template-columns: 200px;
        margin: 0 auto;
        grid-template-rows: 9em 9em 2em;

        .certificate-info {
            grid-area: text;
            margin: 0 1em;

            .date {
                font-size: 0.7rem;
            }

            h2 {
                font-size: 1.2rem;
            }

            h3 {
                font-size: 0.9rem;
            }

            p {
                font-size: 0.7rem;
            }

        }

        .certificate-btn {
            font-size: 1rem;
            line-height: 2em;
        }

    }
}