.web-skills-section .spacing {
  margin: 8em 0 0 0;
}

.web-skills-section .container-web-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.web-skills-section .responsive-section {
  padding: 3em 0;
  background: #fff;
}

.web-skills-section .responsive-section .responsive-design-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container {
  position: relative;
}

.web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #262626;
}

.web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-title {
  display: inline-block;
  font-size: 2.5rem;
  border-bottom: 2px solid #42edfa;
  letter-spacing: 1px;
}

.web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-info {
  text-align: justify;
  font-family: 'Teko', sans-serif;
  font-size: 1.32rem;
  padding: 0.8em 0 0;
}

.web-skills-section .responsive-section .responsive-design-container .responsive-design-image {
  width: 600px;
}

.web-skills-section .responsive-section .responsive-design-container .responsive-design-image img {
  width: 100%;
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .web-skills-section .spacing {
    margin: 4em 0 0 0;
  }
  .web-skills-section .responsive-section {
    padding: 3em 0;
  }
  .web-skills-section .responsive-section .responsive-design-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-title {
    font-size: 2.2rem;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-info {
    font-size: 1.32rem;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-image {
    width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .web-skills-section .spacing {
    margin: 4em 0 0 0;
  }
  .web-skills-section .responsive-section {
    padding: 3em 0;
  }
  .web-skills-section .responsive-section .responsive-design-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-title {
    font-size: 2rem;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-info {
    font-size: 1.2rem;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-image {
    width: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .web-skills-section .spacing {
    margin: 4em 0 0 0;
  }
  .web-skills-section .container-web-skills {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }
  .web-skills-section .responsive-section {
    padding: 3em 0;
  }
  .web-skills-section .responsive-section .responsive-design-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container {
    height: 150px;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-title {
    font-size: 2.2rem;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-info {
    font-size: 1.4rem;
    text-align: center;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-image {
    width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 415px) and (max-width: 539px) {
  .web-skills-section .spacing {
    margin: 3em 0 0 0;
  }
  .web-skills-section .container-web-skills {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
  .web-skills-section .responsive-section {
    padding: 3em 0;
  }
  .web-skills-section .responsive-section .responsive-design-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container {
    height: 150px;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-title {
    font-size: 2.1rem;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-info {
    font-size: 1.3rem;
    text-align: center;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-image {
    width: 350px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 414px) {
  .web-skills-section .spacing {
    margin: 2em 0 0 0;
  }
  .web-skills-section .container-web-skills {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
  .web-skills-section .responsive-section {
    padding: 2em 0;
  }
  .web-skills-section .responsive-section .responsive-design-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container {
    height: 150px;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-title {
    font-size: 1.8rem;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-info-container .responsive-design-info .responsive-info {
    font-size: 1.1rem;
    text-align: center;
  }
  .web-skills-section .responsive-section .responsive-design-container .responsive-design-image {
    width: 280px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=SectionWebSkills.css.map */