//Colors
$button-color: #000;
$hover-btn-bg-color: #262626;
$hover-btn-color: #fff;
$box-shadow: rgba(241, 238, 238, 0.7);

//Breakpoints

$breakpoint-browser: 1280px;
$breakpoint-iPad-Pro: 1024px;
$breakpoint-middle-large: 960px;
$breakpoint-iPad: 768px;
$breakpoint-middle-small: 540px;
$breakpoint-phone: 414px;


#about-header {
    width: 100%;
    height: 100vh;
    background-image: url("../../../../assets/pages/about/about-header/background/2.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-btn {
        color: $button-color;
        font-size: 1.4rem;
        font-family: 'Teko', sans-serif;
        padding: 0.5em 2.2em;
        border: 2px solid $button-color;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: $hover-btn-color;
            background: $hover-btn-bg-color;
            box-shadow: 0 0 20px 15px $box-shadow;
        }
    }
}


//Breakpoint Browser to iPad-Pro 

@media screen and (min-width: $breakpoint-iPad-Pro) and (max-width: $breakpoint-browser) {

    #about-header {
        height: 80vh;

        .about-btn {
            &:hover {
                color: $button-color;
                background: none;
                box-shadow: none;
            }
        }
    }
}

//Breakpoint iPad-Pro to Middle-Large

@media screen and (min-width: $breakpoint-middle-large) and (max-width: 1023px) {

    #about-header {
        height: 80vh;

        .about-btn {
            font-size: 1.3rem;
            padding: 0.5em 2.2em;

            &:hover {
                color: $button-color;
                background: none;
                box-shadow: none;
            }
        }
    }
}

//Breakpoint  Middle-Large to iPad

@media screen and (min-width: $breakpoint-iPad) and (max-width: 959px) {

    #about-header {
        height: 80vh;

        .about-btn {
            font-size: 1.2rem;
            padding: 0.5em 2.2em;

            &:hover {
                color: $button-color;
                background: none;
                box-shadow: none;
            }
        }
    }
}

//Breakpoint iPad to Phone

@media screen and (min-width: 415px) and (max-width: 767px) {

    #about-header {
        height: 80vh;

        .about-btn {
            font-size: 1.2rem;
            padding: 0.5em 2em;

            &:hover {
                color: $button-color;
                background: none;
                box-shadow: none;
            }
        }
    }
}

//Breakpoint  Phone

@media screen and (max-width: $breakpoint-phone) {

    #about-header {
        height: 80vh;

        .about-btn {
            border: 1px solid $button-color;
            font-size: 0.9rem;
            padding: 0.4em 1.8em;

            &:hover {
                color: $button-color;
                background: none;
                box-shadow: none;
            }
        }
    }
}