$breakpoint-iPad: 767px;
$breakpoint-iPad-to-phone: 530px;
$breakpoint-phone: 414px;
$background-color-footer: #102a41;
$copyright-color: #fff;

footer {
    width: 100%;
    height: auto;
    background-color: $background-color-footer;


    .footer-logo {
        text-align: center;
        padding: 1rem 0;

        img {
            width: 4rem;
            height: 4rem;
        }
    }

    .footer-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0 1rem;
    }

    .copyright {
        text-align: center;
        color: $copyright-color;
        font-family: 'Oswald', sans-serif;
    }
}


//Breakpoint-iPad to phone


@media screen and (min-width: $breakpoint-phone) and (max-width:$breakpoint-iPad) {
    footer {

        .footer-logo {
            padding: 0.5rem 0;

            img {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    }
}

//Breakpoint-iPad-to-phone


@media screen and (max-width: $breakpoint-iPad-to-phone) {
    footer {

        .footer-logo {
            padding: 0.5rem 0;

            img {
                width: 3rem;
                height: 3rem;
            }
        }

        .footer-grid-container {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;
        }

        .copyright {
            font-size: 0.8em;
        }
    }
}

//Breakpoint-phone
@media screen and (max-width:$breakpoint-phone) {
    footer {

        .footer-logo {
            padding: 0.5rem 0;

            img {
                width: 3rem;
                height: 3rem;
            }
        }

        .footer-grid-container {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;
        }

        .copyright {
            font-size: 0.8em;
        }
    }
}