//Colors
$footer-bg: #222222;
$copyright-color: #fff;

#footer {
    width: 100%;
    height: auto;
    background: $footer-bg;

    .copyright {
        text-align: center;
        font-size: 0.8rem;
        padding: 0 0 0.5em;
        color: $copyright-color;
    }
}